.container{
  position: absolute;
  top:0;
  left: 0;
  background-image: url('../../images/two/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.head{
  position: absolute;
  top:3vh;
  left: 25vw;

  width: 80vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  gap: 6vw;
}
.title{
  position: absolute;
  top:2vh;
  left: 3vw;
  color: #f5f5f5;
  font-size: 25px;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
  font-weight: bold;
}
.choose1,.choose2,.choose3,.choose4,.choose5{
 
  font-size:20px;
  color: #fff;
  font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
  font-weight: bold;
}


.content {
position: absolute;
top:10vh;
width: 100vw;

}
.content1 {
display: flex;
flex-direction: column; /* 纵向排列 */
position: absolute;     /* 绝对定位 */
top:15vh;
left: 1vw;              /* 左侧间距 */
width: 25vw;            /* 宽度 30vw */
gap: 5vh;  
height: 70vh;
}

/* 图表容器（固定宽度，禁止压缩） */
.HostChart, .CountChart {
width: 30vw;      
height: 35vh;
flex-shrink: 0;       
background-color: black;
}
.circle {
position: absolute;
bottom: 5vh;
right: 5vw;
width: 15vw; /* 调整大小 */
}
.MedalChart{
position: absolute;
top:15vh;
left: 32vw;
width: 40vw;
height: 80vh;
background-color:black;
}
.AthleteChart{
position: absolute;
top:15vh;
right: 3vw;
background-color: black;
width: 23vw;
height: 56vh;
}
.WorldMap {
  position: absolute;
  left: 0vw;              // 去掉 -5vw，避免偏移
  width: 100%;          // 使用整个 MedalChart 宽度
  height: 100%;
}