.container {
  background-image: url(../../images/one/first.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.btn {
  position: absolute;
  top: 0;
  left: 5vw;
  background: none;
  border: none;
  color: #5fe6d8;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.2s ease;
  font-weight: bold;
}

.btn:hover {
  background-color: #f0f0f0;
  color: #000;
}

.content {

}

.head {
  margin-bottom: 20px;
}

.content {
  color: #fff;
  top: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100vw;
  height: 90vh;
}

.messageList {
  list-style-type: none;
  padding: 0;
  height: 70vh;
  width: 50vw;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 0; /* 隐藏垂直滚动条 */
    height: 0; /* 隐藏水平滚动条 */
  }

  /* 对于 Firefox */
  scrollbar-width: none; /* 隐藏滚动条 */

  /* 对于 IE 和 Edge */
  -ms-overflow-style: none; /* 隐藏滚动条 */

}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pageBtn {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: #fff;

  &:focus {
    border: none;
    outline: none;
  }
}

.pageBtn:hover {
  background-color: #f0f0f0;
}

.activePage {
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
}
.button {
  margin-left: 50px;
}

.messageItem {
  width: 50vw;
  //background-color: #eeeeeecf;
  border-radius: 15px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.liWrapper {

  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-right: 2vw;
  color: #1d1d1f;

  .liContent {
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    margin-top: 2vh;
    white-space: pre-wrap;
  }

  .liCreateTime {
    font-size: 14px;
    line-height: 18px;
    margin-top: 2px;
    text-align: right;
  }

  .col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1vh;
    margin-bottom: 1vh;
    .liStatus {
      font-weight: bold;
    }

    .liButton {
      margin: 0;
      &:focus {
        border: none;
        outline: none;
      }


    }
  }
}