.container{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
    background-image: url('../../images/five/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head{
    position: absolute;
    top:3vh;
    left: 20vw;
  
    width: 80vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    gap: 6vw;
}
.title{
    position: absolute;
    top:2vh;
    left: 3vw;
    color: #fff;
    font-size: 25px;
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
    font-weight: bold;
}
.choose1,.choose2,.choose3,.choose4,.choose5{
   
    font-size:20px;
    color: #fff;
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
    font-weight: bold;
}
.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
   justify-content: center;
   align-items: center;
    border-color: aqua;
    left: 15vw;
     top:-5vh;
    height: 60vh; /* 高度由内容决定 */
    width: 70vw;         /* 按需调整宽度 */
    color:#fff;
   
  }
  p{
    font-size: 20px;
    
    margin: 0.25em 0;
  }

  .question {
    position: absolute;
    top: 45vh;
    left: 10vw;
    width: 50vw;
    height: 35vh;
    text-align: left;
    padding: 10px;
    line-height: 20px;
    font-size: 16px;
    overflow-y: auto;
    border: 2px solid black; /* 半透明边框 */
    border-radius: 10px;
    background-color: transparent; /* 透明背景 */
    color:#fff; /* 确保文本颜色可见 */
    z-index: 100;
  }
  .btn{
    position: absolute;
    top:90vh;
    left:11vw ;
    width: 50vw;
    color: #fff;
    background-color: transparent; /* 透明背景 */
    border: 2px solid black; /* 半透明边框 */
  }
.ip{
  font-size: 20px;
  font-weight: 1000;
}