.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url('../../images/five/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  position: absolute;
  top: 3vh;
  left: 20vw;

  width: 80vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  gap: 6vw;
}

.title {
  position: absolute;
  top: 2vh;
  left: 3vw;
  color: #fff;
  font-size: 25px;
  font-family: 'Microsoft YaHei', '微软雅黑', sans-serif;
  font-weight: bold;
  user-select: none;
}

.choose1,
.choose2,
.choose3,
.choose4,
.choose5 {
  font-size: 20px;
  color: #fff;
  font-family: 'Microsoft YaHei', '微软雅黑', sans-serif;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  justify-content: center;
  align-items: center;
  border-color: aqua;
  left: 15vw;
  top: 20vh;
  height: 70vh; /* 调整高度以容纳 form */
  width: 70vw; /* 按需调整宽度 */
  color: #444;
  background: rgba(238, 234, 234, 0.9);
  border-radius: 30px;
  animation: fadeIn 0.5s ease forwards; /* 应用动画 */



  form {
    height: 50vh; /* 保持 form 高度不变 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .question {
      position: relative;
      width: 50vw;
      height: 35vh;
      top: 0;
      text-align: left;
      padding: 10px;
      line-height: 20px;
      font-size: 16px;
      overflow-y: auto;
      border: 2px solid black; /* 半透明边框 */
      border-radius: 10px;
      background-color: transparent; /* 透明背景 */
      color: #111; /* 确保文本颜色可见 */
      z-index: 100;

      &:focus {
        outline: none;
      }
    }

    .btn {
      position: relative;
      top: 3vh;
      width: 20vw;
      color: #fff;
      background: #646cff;
      transition: transform .8s; /* Add this line */

      &:focus {
        outline: none;
      }



      &:hover {
        transform: scale(0.95);
        
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-20px);
    }

  }

}

p {
  font-size: 20px;
  margin: 0.25em 0;
}

.ip {
  font-size: 20px;
  font-weight: 1000;
}