.select {
  background: #646cff11;
  border: none;
  outline: none;
  transition: border-bottom-width 1s;


  &:focus {
    border: none;
    outline: none;
  }

  color: #ffffff;

}

.option {
  color: black; /* 设置字体颜色为黑色 */
  border: none;
  outline: none;
  height: 30px;

  -webkit-appearance: none; /* 移除 WebKit 浏览器的默认样式 */
  -moz-appearance: none;    /* 移除 Firefox 的默认样式 */
  appearance: none;

  background-color: #dddddd23;
}