.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../images/three/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.head {
  position: absolute;
  top: 3vh;
  left: 20vw;

  width: 80vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  gap: 6vw;
}
.title {
  position: absolute;
  top: 2vh;
  left: 3vw;
  color: #f5f5f5;
  font-size: 25px;
  font-family: 'Microsoft YaHei', '微软雅黑', sans-serif;
  font-weight: bold;
}
.choose1,
.choose2,
.choose3,
.choose4,
.choose5 {
  font-size: 20px;
  color: #fff;
  font-family: 'Microsoft YaHei', '微软雅黑', sans-serif;
  font-weight: bold;
}

.worldmapWrapper {
  flex: 0 0 70vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 10vh;
}

.data {
  flex: 1;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 20px;
  overflow-y: auto;
}
